.projects-header #bars {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.projects-header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 1)), url(images/banner5new.PNG) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*START PROJECT CAROUSEL*/
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel {
    position: relative;
    width: 60vw;
    max-width: 100%;
    overflow: hidden;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    
    transition: transform 0.3s ease-in-out;
    width: 100%;
    align-items: center;
}

.carousel-item {
    min-width: 80%; 
    max-width: 80%;
    height: auto; 
    background-color: #1f1f1fd8;
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}
.image-container:hover .image-panel {
    transform: translateX(-50%) translateY(25%) scale(1.1);
}
.image-panel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    transition: transform 0.2s ease-in-out;
}

.description-panel {
    width: 100%; /* Ensure this takes up the full width of its parent */
    max-width: 500px;
    margin-top: 20px;
}
.description-panel p, .description-panel h4 {
    font-family: 'League Spartan', sans-serif;
}
.description-panel p {
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
}
.description-panel h4 {
    padding-left: 7px;
}
.image-container img {
    border-radius: 8px;
    display: block;
    margin: auto;
    padding: 5px 0;
    max-width: 90%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.image-container img:hover {
    transform: scale(1.1);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3688f494;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.left-arrow {
    left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-arrow {
    right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px; 
    width: 200px; 
}

.dropbtn {
    border: 1px solid #000;
    background-color: #3688f494;
    color: white;
    padding: 22px;
    font-size: 24px;
    font-family: 'League Spartan', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
    top: 100%; 
    left: 0; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%; 
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}


@media (max-width: 900px) {
    .carousel {
        width: 90vw;
    }

    .carousel-container {
        width: 100%;
        padding: 0 10px;
    }
    .project-links li{
        padding-left: 12px;
        padding-right: 12px;
    }
    .project-links li p {
        display: none; 
    }
}

/*END PROJECT CAROUSEL*/

/*PROJECT LINKS*/
.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    width: 75px;
    height: 50px;
    font-size: 25px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.2s, border-color 0.2s;
}

.icon-link:hover {
    border-color: #3688f4;
    color: #3688f4;
}

.project-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-links li {
    display: flex;
    align-items: center; 
    padding-top: 15px;
    margin: 0 -10px;
}

.project-links li p {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    padding-left: 22px;
    padding-right: 22px;
    margin: 0; 
}
/*END PROJECT LINKS*/

