body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/*START PROJECT CAROUSEL*/
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel {
    position: relative;
    width: 60vw; 
    max-width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    align-items: center;
}

.carousel-item {
    min-width: 80%; 
    max-width: 80%;
    height: auto; 
    background-color: #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
}


.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    object-fit: contain;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.left-arrow {
    left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-arrow {
    right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.project-list {
    margin-bottom: 20px;
    text-align: center;
}

.project-list ul {
    list-style: none;
    padding: 0;
}

.project-list ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    color: #007BFF;
    text-decoration: underline;
}

.project-list ul li:hover {
    color: #0056b3;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; 
    width: 200px; 
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
    top: 100%; 
    left: 0; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%; 
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .carousel {
        width: 80vw;
    }

    .carousel-container {
        width: 100%;
        padding: 0 10px;
    }
    .project-links li p {
        display: none; 
    }
}

/*END PROJECT CAROUSEL*/

.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    width: 75px;
    height: 50px;
    font-size: 25px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.2s, border-color 0.2s;
    margin: 0 25px;
}

.icon-link:hover {
    border-color: #3688f4;
    color: #3688f4;
}

.project-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-links li {
    display: flex;
    align-items: center; 
    padding-top: 15px;
    margin: 0 -10px;
}

.project-links li p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-left: 2px;
    margin: 0; 
}


