*{
    margin: 0;
    padding: 0;
    font-family: 'Dhurjati', sans-serif;
}
body {
    background-color: rgba(4,9,30,1); 
}
.down-arrow{
    color: #fff;
    align-items: center;
    position: fixed;
    z-index: 1011;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.down-arrow:hover {
    transform: translate(-50%, -50%) scaleY(1.4);
    transform-origin: center;
    color: #3688f4;
}
.down-arrow.rotated {
    transform: translate(-50%, -50%) scale(1.1) rotate(180deg);
}
.down-arrow.rotated:hover {
    transform: translate(-50%, -50%) scaleY(1.4) rotate(180deg);
    transform-origin: center;
    color: #3688f4;
}
.header{
    min-height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4,9,30,1)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header #bars {
    position: fixed;
    z-index: 1099;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav .fa{
    display: none;
}
.nav-links{
    display: block;
    position: fixed;
    z-index: 1003;
    flex: 1;
    text-align: center;
    border: 1px solid #000;
    background-color: #3688f494;
    border-radius: 5px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 14px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3688f4;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li.active {
    background-color: #758294;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-links .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Aligns below the parent link */
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-links .dropdown-content a {
    display: block;
    padding: 10px;
    color: #000;
    white-space: nowrap; /* Prevents wrapping of text */
    text-align: left;
}

.nav-links li.projects-tab:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

.nav-links .dropdown-content a:hover {
    background-color: #f0f0f0;
}

/*Standalone links*/
.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    width: 75px;
    height: 50px;
    font-size: 25px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.2s, border-color 0.2s;
}
.icon-link:hover {
    border-color: #3688f4;
    color: #3688f4;
}
/*Standalone links*/

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
    font-family: 'League Spartan', sans-serif;
}
.text-box p{
    margin: 0px 0 0px;
    font-size: 30px;
    color: #fff;
}
.text-box ul{
    font-size: 40px;
}

/*START OF ABOUT ME*/
.aboutme{
    min-height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4,9,30,1)), url(images/AstralBladeLandscape1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.aboutme {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.aboutme.visible {
    opacity: 1;
}
.about-text-box{
    width: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 5px;
    transform: translate(-50%, -50%);
    background-color: #1f1f1fda;
    text-align: center;
}
.about-text-box h1{
    font-size: 60px;
    color: #3688f4;
    text-align: left;
    margin: 10px;
    font-family: 'League Spartan', sans-serif;
}
.about-text-box p{
    margin-left: 10px;
    font-size: 30px;
    text-align: left;
    color: #fff;
    font-family: 'League Spartan', sans-serif;
}
.about-text-box strong{
    font-family: 'League Spartan', sans-serif;
}
.work-experience h2 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #3688f4;
    margin: 10px;
    font-family: 'League Spartan', sans-serif;
}

.work-experience ul {
    list-style-type:circle;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.work-experience ul li {
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'League Spartan', sans-serif;
}

.work-experience ul li strong {
    font-family: 'League Spartan', sans-serif;
}

.work-experience ul li em {
    font-style: italic;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
.education-section h2 {
    text-align: left;
    margin: 10px;
    font-size: 40px;
    color: #3688f4;
    font-family: 'League Spartan', sans-serif;
}
.education-section ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
.education-section ul li {
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'League Spartan', sans-serif;
}
.education-section ul li strong {
    font-family: 'League Spartan', sans-serif;
}
.skills-container {
    margin-left: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    
}
.skills-container h2 {
    display: inline-flex;
    text-align: left;
    margin-left: 10px;
    font-family: 'League Spartan', sans-serif;
}
.skills-box {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    min-width: 10px;
    flex: 1 1 auto; /* Adjusts to content size */
    font-family: 'League Spartan', sans-serif;
}


/*END OF ABOUT ME*/

/*START OF PROJECTS*/





/*END OF PROJECTS*/


/*START OF RESUME*/
.resume-header #bars {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.resume-header{
    min-height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4), rgba(4,9,30,1)), url(images/crystalpunk-level.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.resume-section {
    width: 90%;
    max-height: 80%;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
}
.resume-section {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.resume-section.visible {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
/*END OF RESUME*/

/*START OF DESIGN*/
.design{
    height: 100svh;
}
.design-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4,9,30,1)), url(images/banner4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.design-text-box{
    width: 60%;
    padding-top: 5%;
    color: #fff;
    position: relative;
    margin-bottom: 0px;
    text-align: center;
}
.design-text-box h1{
    font-size: 80px;
    font-family: 'League Spartan', sans-serif;
}
.design-text-box p{
    margin: 0px 0 0px;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 55%;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f1f1fda;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.container p{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
.container .dynamic-text:before {
    content: "Click Image to Expand";
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}
.image-item {
    text-align: center;
    position: relative;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}


/*END OF DESIGN*/
















/*DELETE?????*/
.logo img {
    width: 5%;
    height: auto;
}
.new-iframe {
    margin: 0 auto; 
    display: block; 
}
.old-iframe{
    margin: 0 auto; 
    display: block;
    /* width: 35%;
    height: auto; */
}
.gameplay{
    float: right;
}
.design-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.design-images ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.design-images li {
    margin: 0 10px; 
}
.design-images p{
    color: #fff;
    font-size: 25px;
}

.design-images img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.design-images p {
    max-width: 100%;
    width: auto;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.design-images li:hover {
    transform: scale(1.1); 
}
/*DELETE?????*/




/*START FULLSCREEN*/
.image-description {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
}

.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fullscreen-image {
    width: 60vw;
    max-width: 80%;
    max-height: calc(100% - 40px); /* Adjust the height of the image container */
  }
  .fullscreen-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
  }
  .fullscreen-description {
    display: none;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for the description */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .fullscreen-paragraph {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background for the paragraph */
    padding: 10px;
    border-radius: 8px;
  }
  
  .fullscreen-paragraph p {
    margin: 0;
  }

  /*END FULLSCREEN*/
  

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    color: #fff;
}

@media(max-width: 1060px){
    .nav-links{
        width: 100%;
    }
}

@media (max-width: 700px) {
    .description-panel {
        width: 100%; 
    }
}

@media (min-width: 701px) and (min-height: 701px) {
    .nav-links{
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@media(max-width: 700px), ( max-height: 700px){
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        display: none;
        position: fixed;
        border: 1px solid #000;
        background-color: #3688f494;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        transition: 0.5s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        padding: 30px;
    }
    .projects{
        width: 90%;
        color: #ffffff;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
    }
    .resume-section {
        width: 90%;
        max-height: 100%;
        font-size: 30px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1002;
    }

    .about-text-box{
        width: 90%;
        top: 50%;
    }
    .about-text-box h1{
        font-size: 22px;
    }
    .about-text-box p{
        font-size: 18px;
    }
    .work-experience h2{
        font-size: 22px;
    }
    .work-experience ul li{
        font-size: 18px;
    }
    .work-experience ul li em{
        font-size: 15px;
    }
    .education-section h2{
        font-size: 22px;
    }
    .education-section ul li{
        font-size: 18px;
    }

    .design-text-box{
        width: 90%;
        padding-top: 5%;
        color: #fff;
        position: relative;
        margin-bottom: 50px;
        text-align: center;
    }

    .design-text-box h1 {
        font-size: 27px;
    }

    .design-text-box p {
        font-size: 22px;
    }

    .design-images img {
        max-width: 100%;
        height: auto;
        max-height: 200px;
        transition: transform 0.2s ease-in-out;
    }
    .design-images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .design-images ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design-images li {
        text-align: center; 
    }
    .description-panel img:hover{
        transform: scale(1); 
    }
    .design-images li:hover {
        transform: scale(1); 
    }
    .container {
        max-width: 85%;
    }
    .project-container ul li p {
        display: none;
    }
    .icon-link{
        width: 50px;
    }
    .container .dynamic-text:before {
        content: "Swipe to scroll";
    }
}
